/*
Theme Name: Avada
Description: The Avada Website Builder is the ultimate design and creation suite. Design Anything, Build Everything, Fast. The #1 selling product of all time on ThemeForest.
Author: ThemeFusion
Theme URI: https://avada.theme-fusion.com/
Author URI: https://themeforest.net/user/ThemeFusion
Version: 7.8.1
Requires PHP: 5.6
License: Themeforest Split Licence
License URI: -
Text Domain: Avada
*/

/* Classes needed by Theme Check */
.wp-caption-text,
.gallery-caption,
.bypostauthor {
}
/*Avada style previous code begin*/
.widget_shopping_cart_content .buttons > a:nth-child(2)::before{content:none !important;}
.fusion-flexslider{border:1px solid #ddd !important;}
.comment-form input[type="submit"], .fusion-button, .fusion-load-more-button, .gform_page_footer input[type="button"], .gform_wrapper .button, .gform_wrapper .gform_button, .ticket-selector-submit-btn[type="submit"], .woocommerce .avada-order-details .order-again .button, .woocommerce .avada-shipping-calculator-form .button, .woocommerce .cart-collaterals .checkout-button, .woocommerce .checkout #place_order, .woocommerce .checkout_coupon .button, .woocommerce .login .button, .woocommerce .register .button, .woocommerce .single_add_to_cart_button, .woocommerce .track_order .button, .woocommerce button.button, .woocommerce-MyAccount-content form .button, .woocommerce.add_to_cart_inline .button{font-weight:bold !important;}
.fusion-footer-widget-area .widget .recentcomments::before, .fusion-footer-widget-area .widget_archive li a::before, .fusion-footer-widget-area .widget_categories li a::before, .fusion-footer-widget-area .widget_links li a::before, .fusion-footer-widget-area .widget_meta li a::before, .fusion-footer-widget-area .widget_nav_menu li a::before, .fusion-footer-widget-area .widget_pages li a::before, .fusion-footer-widget-area .widget_recent_entries li a::before{content:none !important;margin-left:0px !important;}
.woocommerce-message, h2.sub-title{color:red !important;}
footer > ul > .menu > li{padding:10px 10px 10px 0px !important;}
.contact-text{line-height:1.75;}
.attachment-shop_catalog img, .product-images, .ws-gallery{border:1px solid #ddd !important;}
.shop_table thead tr th{color:#025797;}
.shop_table thead tr th{white-space:nowrap;}
.calculated_shipping > .cart_totals, .woocommerce > ul.products-4 > li.post-11536{width:100% !important;}
#wrapper .fusion-widget-area .current-menu-item > a{color:#000000 !important;}
.total > strong{font-size:13px;}
.product-total > span > .woocommerce-Price-amount.amount{font-size:16px !important;}
.woocommerce-Price-amount.amount{}
.cart_totals table th{color:#025797;font-weight:700;font-size:18px !important;}
.checkout .shop_table tfoot th{color:#025797;font-weight:700;font-size:18px !important;}
.fusion-image-wrapper .fusion-rollover .fusion-rollover-gallery, .fusion-image-wrapper .fusion-rollover .fusion-rollover-link{background-color:#333 !important;}
.fusion-footer-widget-area .widget-title, .fusion-footer-widget-area h3{padding:0 0 0 12px;}
.woocommerce-mini-cart__empty-message{font-size:13px !important;}
h2.title-heading-left{color:#393939!important;}
@media screen and (max-width:320px){.quantity_box{display:none !important;}
}
.woocommerce-checkout #payment div.payment_box input.js-sv-wc-payment-gateway-credit-card-form-input[type="tel"], .woocommerce-checkout #payment div.payment_box input.js-sv-wc-payment-gateway-credit-card-form-input[type="text"], .woocommerce-checkout #payment div.payment_box input.js-sv-wc-payment-gateway-echeck-form-input[type="tel"], .woocommerce-checkout #payment div.payment_box input.js-sv-wc-payment-gateway-echeck-form-input[type="text"], #add_payment_method input.js-sv-wc-payment-gateway-credit-card-form-input[type="tel"], #add_payment_method input.js-sv-wc-payment-gateway-credit-card-form-input[type="text"], #add_payment_method input.js-sv-wc-payment-gateway-echeck-form-input[type="tel"], #add_payment_method input.js-sv-wc-payment-gateway-echeck-form-input[type="text"]{font-size:1.3em !important;padding:3px !important;}
.fusion-product-buttons .button.product_type_variable{color:#fff!important;white-space:nowrap;}
#wrapper .search-table .search-button input[type="submit"]{height:30px !important;line-height:28px !important;}
.fusion-menu-cart-checkout-link a{margin-left:22px !important;}
.shop_table .product-name{width:38%!important;text-align:center;}
.shop_table .product-price, .shop_table .product-quantity, .shop_table td{text-align:center;}
.shop_table .update_cart{width:10%;}
.shop_table .quantity_box{width:25%;text-align:center!important;}
.shop_table td{width:14%;}
.product-info{width:50%;}
body.woocommerce-cart .post-content, body.woocommerce-checkout .post-content{font-size:18px!important;}
form.checkout .payment_methods label{font-family:MuseoSlab500Regular,arial,helvetica,sans-serif;color:#025797;}
#wrapper .search-button{text-align:left !important;}
.giz_storeLocator{width:100% !important;}
#main h2{font:18px/20px MuseoSlab500Regular,arial,helvetica,sans-serif;}
.fl > label{font-size:13px;}
.lblForm{font-size:13px;}
.sloc_button{font-size:13px !important;}
@media only screen and (max-width:1200px){#main{padding-left:10px !important;padding-right:10px !important;}
}
@media only screen and (max-width:1024px){.fusion-fullwidth.fullwidth-box.nonhundred-percent-fullwidth{padding-left:20px;padding-right:20px;}
.fusion-product-buttons .button.product_type_variable{white-space:normal;}
.avada-order-details .shop_table.order_details tfoot tr td{white-space:normal !important;}
}
@media only screen and (max-width:800px){.fusion-contact-info{padding:1em 28px !important;line-height:1.5em !important;}
#wrapper .search-table .search-button input[type="submit"]{height:33px !important;}
#main{width:100% !important;}
.fusion-product-buttons .button.product_type_variable{white-space:normal!important;}
.width-100 .fullwidth-box{padding-left:20px !important;padding-right:20px !important;}
}
@media only screen and (min-device-width:320px) and (max-device-width:480px){.shop_table .update_cart{font-size:15px;}
.shop_table .update_cart{font-size:12px;}
.shop_table thead tr th{white-space:normal;}
body.woocommerce-cart .post-content, body.woocommerce-checkout .post-content{font-size:13px !important;}
.shop_table .product-quantity .quantity{margin-top:40px !important;}
.page-id-4100 .woocommerce-MyAccount-content, .woocommerce-content-box{padding:2px !important;}
}
@media only screen and (max-width:640px){.shop_table .product-quantity{display:block !important;}
.shop_table .product-quantity .quantity{width:95px;}
div.new_cart_position>input.fusion-button.button-default.button-medium.button.default.medium{padding:7px !important;}
.avada-order-details .shop_table.order_details tfoot tr td{white-space:normal !important;}
}
.fusion-footer-widget-area ul li a:hover{text-shadow:1px 0 0 !important;}
select#sloc_selRadius{font-size:13px;}
.checkout .shop_table tfoot td{white-space:normal !important;}
.ls-container{visibility:hidden;position:relative;max-width:100%;}
.ls-inner{position:relative;width:100%;height:100%;background-position:center center;z-index:30;}
.ls-wp-fullwidth-container{width:100%;position:relative;}
.ls-wp-fullwidth-helper{position:absolute;}
.ls-layers,
.ls-slide-backgrounds,
.ls-background-videos,
.ls-bg-video-overlay{width:100%;height:100%;position:absolute;left:0;top:0;overflow:hidden;-o-transform:translateZ(0);-ms-transform:translateZ(0);-moz-transform:translateZ(0);-webkit-transform:translateZ(0);transform:translateZ(0);}
.ls-wrapper{padding:0 !important;visibility:visible !important;border:0 !important;z-index:1;}
.ls-background-videos{z-index:1;}
.ls-bg-video-overlay{z-index:21;background-repeat:repeat;background-position:center center;}
.ls-slide-backgrounds{z-index:2;}
.ls-layers{z-index:35;}
.ls-parallax,
.ls-in-out,
.ls-z{position:absolute !important;}
.ls-parallax,
.ls-z{width:0 !important;height:0 !important;top:0 !important;left:0 !important;bottom:auto !important;right:auto !important;display:block !important;overflow:visible !important;}
.ls-in-out{display:none;}
.ls-loop, .ls-clip{position:absolute !important;display:block !important;}
.ls-parallax,
.ls-in-out,
.ls-loop,
.ls-z{background:none !important;}
.ls-parallax,
.ls-bg-wrap,
.ls-loop{margin:0 !important;}
.ls-wrapper > .ls-layer,
.ls-wrapper > a > .ls-layer
.ls-wrapper > .ls-bg{line-height:normal;white-space:nowrap;margin-right:0 !important;margin-bottom:0 !important;}
.ls-wrapper > .ls-layer,
.ls-wrapper > a > .ls-layer{position:static !important;display:block !important;-o-transform:translateZ(1px);-ms-transform:translateZ(1px);-moz-transform:translateZ(1px);-webkit-transform:translateZ(1px);transform:translateZ(1px);}
.ls-bg-wrap,
.ls-bg-outer{width:100%;height:100%;position:absolute;left:0;top:0;}
.ls-bg-wrap{display:none;}
.ls-bg-outer{overflow:hidden !important;}
.ls-wrapper > a.ls-layer-link{cursor:pointer !important;display:block !important;position:absolute !important;left:0 !important;top:0 !important;width:100% !important;height:100% !important;z-index:10;-o-transform:translateZ(100px);-ms-transform:translateZ(100px);-moz-transform:translateZ(100px);-webkit-transform:translateZ(100px);transform:translateZ(100px);background:url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7) !important;}
.ls-gui-element{z-index:40;}
.ls-loading-container{position:absolute !important;display:none;left:50% !important;top:50% !important;}
.ls-loading-indicator{margin:0 auto;}
.ls-bottom-slidebuttons{text-align:left;}
.ls-bottom-nav-wrapper,
.ls-below-thumbnails{height:0;position:relative;text-align:center;margin:0 auto;}
.ls-below-thumbnails{display:none;}
.ls-bottom-nav-wrapper a,
.ls-nav-prev,
.ls-nav-next{outline:none;}
.ls-bottom-slidebuttons{position:relative;}
.ls-bottom-slidebuttons,
.ls-nav-start,
.ls-nav-stop,
.ls-nav-sides{position:relative;}
.ls-nothumb{text-align:center !important;}
.ls-link,
.ls-link:hover{position:absolute !important;width:100% !important;height:100% !important;left:0 !important;top:0 !important;}
.ls-link{display:none;}
.ls-link-on-top{z-index:999999 !important;}
.ls-link, .ls-wrapper > a > *{background-image:url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7');}
.ls-bottom-nav-wrapper,
.ls-thumbnail-wrapper,
.ls-nav-prev,
.ls-nav-next{visibility:hidden;}
.ls-bar-timer{position:absolute;width:0;height:2px;background:white;border-bottom:2px solid #555;opacity:.55;top:0;}
.ls-circle-timer{width:16px;height:16px;position:absolute;right:10px;top:10px;opacity:.65;display:none;}
.ls-container .ls-circle-timer,
.ls-container .ls-circle-timer *{box-sizing:border-box !important;}
.ls-ct-half{border:4px solid white;}
.ls-ct-left,
.ls-ct-right{width:50%;height:100%;overflow:hidden;}
.ls-ct-left,
.ls-ct-right{position:absolute;}
.ls-ct-left{left:0;}
.ls-ct-right{left:50%;}
.ls-ct-rotate{width:200%;height:100%;position:absolute;top:0;}
.ls-ct-left .ls-ct-rotate,
.ls-ct-right .ls-ct-hider,
.ls-ct-right .ls-ct-half{left:0;}
.ls-ct-right .ls-ct-rotate,
.ls-ct-left .ls-ct-hider,
.ls-ct-left .ls-ct-half{right:0;}
.ls-ct-hider,
.ls-ct-half{position:absolute;top:0;}
.ls-ct-hider{width:50%;height:100%;overflow:hidden;}
.ls-ct-half{width:200%;height:100%;}
.ls-ct-center{width:100%;height:100%;left:0;top:0;position:absolute;border:4px solid black;opacity:0.2;}
.ls-ct-half,
.ls-ct-center{border-radius:100px;-moz-border-radius:100px;-webkit-border-radius:100px;}
.ls-slidebar-container{margin:10px auto;}
.ls-slidebar-container,
.ls-slidebar{position:relative;}
.ls-progressbar,
.ls-slidebar-slider-container{position:absolute;left:0;top:0;}
.ls-progressbar{width:0;height:100%;z-index:1;}
.ls-slidebar-slider-container{z-index:2;}
.ls-slidebar-slider{position:static !important;cursor:pointer;}
.ls-slidebar{height:10px;background-color:#ddd;}
.ls-slidebar,
.ls-progressbar{border-radius:10px;}
.ls-progressbar{background-color:#bbb;}
.ls-slidebar-slider-container{top:50%;}
.ls-slidebar-slider{width:20px;height:20px;border-radius:20px;background-color:#999;}
.ls-slidebar-light .ls-slidebar{height:8px;background-color:white;border:1px solid #ddd;border-top:1px solid #ccc;}
.ls-slidebar-light .ls-slidebar,
.ls-slidebar-light .ls-progressbar{border-radius:10px;}
.ls-slidebar-light .ls-progressbar{background-color:#eee;}
.ls-slidebar-light .ls-slidebar-slider-container{top:50%;}
.ls-slidebar-light .ls-slidebar-slider{width:18px;height:18px;border-radius:20px;background-color:#eee;border:1px solid #bbb;border-top:1px solid #ccc;border-bottom:1px solid #999;}
.ls-tn{display:none !important;}
.ls-thumbnail-hover{display:none;position:absolute;left:0;}
.ls-thumbnail-hover-inner{width:100%;height:100%;position:absolute;left:0;top:0;display:none;}
.ls-thumbnail-hover-bg{position:absolute;width:100%;height:100%;left:0;top:0;}
.ls-thumbnail-hover-img{position:absolute;overflow:hidden;}
.ls-thumbnail-hover img{max-width:none !important;position:absolute;display:inline-block;visibility:visible !important;left:50%;top:0;}
.ls-thumbnail-hover span{left:50%;top:100%;width:0;height:0;display:block;position:absolute;border-left-color:transparent !important;border-right-color:transparent !important;border-bottom-color:transparent !important;}
.ls-thumbnail-wrapper{position:relative;width:100%;margin:0 auto;}
.ls-thumbnail{position:relative;margin:0 auto;}
.ls-thumbnail-inner,
.ls-thumbnail-slide-container{width:100%;}
.ls-thumbnail-slide-container{overflow:hidden !important;position:relative;}
.ls-thumbnail-slide{text-align:center;white-space:nowrap;float:left;position:relative;}
.ls-thumbnail-slide a{overflow:hidden;display:inline-block;width:0;height:0;position:relative;}
.ls-thumbnail-slide img{max-width:none !important;max-height:100% !important;height:100%;visibility:visible !important;}
.ls-touchscroll{overflow-x:auto !important;}
.ls-shadow{display:none;position:absolute;z-index:10 !important;top:100%;width:100%;left:0;overflow:hidden !important;visibility:hidden;}
.ls-shadow img{width:100% !important;height:auto !important;position:absolute !important;left:0 !important;bottom:0 !important;}
.ls-media-layer{overflow:hidden;}
.ls-vpcontainer,
.ls-videopreview{width:100%;height:100%;position:absolute;left:0;top:0;cursor:pointer;}
.ls-videopreview{background-size:cover;background-position:center center;}
.ls-videopreview{z-index:1;}
.ls-playvideo{position:absolute;left:50%;top:50%;cursor:pointer;z-index:2;}
.ls-forcehide{display:none !important;}
.ls-yourlogo{position:absolute;z-index:50;}
.ls-slide-transition-wrapper{width:100%;height:100%;position:absolute;left:0;top:0;z-index:3;}
.ls-slide-transition-wrapper,
.ls-slide-transition-wrapper *{text-align:left !important;}
.ls-slide-transition-tile{position:relative;float:left;}
.ls-slide-transition-tile img{visibility:visible;margin:0 !important;}
.ls-curtiles{overflow:hidden;}
.ls-curtiles,
.ls-nexttiles{position:absolute;width:100%;height:100%;left:0;top:0;}
.ls-curtile, .ls-nexttile{overflow:hidden;width:100% !important;height:100% !important;-o-transform:translateZ(0);-ms-transform:translateZ(0);-moz-transform:translateZ(0);-webkit-transform:translateZ(0);transform:translateZ(0);}
.ls-nexttile{display:none;}
.ls-3d-container{position:relative;overflow:visible !important;-ms-perspective:none !important;-moz-perspective:none !important;-webkit-perspective:none !important;perspective:none !important;}
.ls-3d-box{position:absolute;}
.ls-3d-box div{overflow:hidden;margin:0;padding:0;position:absolute;background-color:#888;}
.ls-3d-box .ls-3d-top,
.ls-3d-box .ls-3d-bottom{background-color:#555;}
.ls-slide-transition-wrapper,
.ls-slide-transition-tile{-ms-perspective:1500px;-moz-perspective:1500px;-webkit-perspective:1500px;perspective:1500px;}
.ls-slide-transition-tile,
.ls-3d-box,
.ls-curtiles,
.ls-nexttiles{-ms-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-webkit-transform-style:preserve-3d;transform-style:preserve-3d;}
.ls-curtile,
.ls-nexttile,
.ls-3d-box,
.ls-3d-box div{-ms-backface-visibility:hidden;-moz-backface-visibility:hidden;-webkit-backface-visibility:hidden;backface-visibility:hidden;}
.ls-visible{overflow:visible !important;}
.ls-unselectable{user-select:none;-o-user-select:none;-ms-user-select:none;-moz-user-select:none;-webkit-user-select:none;}
.ls-overflow-hidden{overflow:hidden;}
.ls-overflowx-hidden{overflow-x:hidden;}
.ls-overflow-visible{overflow:visible !important;}
.ls-overflowy-hidden{overflow-y:hidden;}
.ls-hidden{width:0px !important;height:0px !important;position:absolute;left:-5000px;top:-5000px;z-index:-1;overflow:hidden !important;visibility:hidden !important;display:block !important;}
.ls-slide{display:block !important;visibility:hidden !important;position:absolute !important;overflow:hidden;top:0 !important;left:0 !important;bottom:auto !important;right:auto !important;background:none;border:none !important;margin:0 !important;padding:0 !important;}
.ls-slide > .ls-layer,
.ls-slide > .ls-l,
.ls-slide > .ls-bg,
.ls-slide > a > .ls-layer,
.ls-slide > a > .ls-l,
.ls-slide > a > .ls-bg{position:absolute !important;white-space:nowrap;}
.ls-fullscreen{margin:0 !important;padding:0 !important;width:auto !important;height:auto !important;}
.ls-fullscreen .ls-container{background-color:black;margin:0 !important;}
.ls-layer .split-item{font-weight:inherit !important;font-family:inherit !important;font-size:inherit;color:inherit;}
html .ls-nav-prev,
body .ls-nav-prev,
#ls-global .ls-nav-prev,
html .ls-nav-next,
body .ls-nav-next,
#ls-global .ls-nav-next,
html .ls-container img,
body .ls-container img,
#ls-global .ls-container img,
html .ls-bottom-nav-wrapper a,
body .ls-bottom-nav-wrapper a,
#ls-global .ls-bottom-nav-wrapper a,
html .ls-container .ls-fullscreen,
body .ls-container .ls-fullscreen,
#ls-global .ls-container .ls-fullscreen,
html .ls-thumbnail a,
body .ls-thumbnail a,
#ls-global .ls-thumbnail a{transition:none;-ms-transition:none;-webkit-transition:none;line-height:normal;outline:none;padding:0;border:0;}
html .ls-wrapper > a,
body .ls-wrapper > a,
#ls-global .ls-wrapper > a,
html .ls-wrapper > p,
body .ls-wrapper > p,
#ls-global .ls-wrapper > p,
html .ls-wrapper > h1,
body .ls-wrapper > h1,
#ls-global .ls-wrapper > h1,
html .ls-wrapper > h2,
body .ls-wrapper > h2,
#ls-global .ls-wrapper > h2,
html .ls-wrapper > h3,
body .ls-wrapper > h3,
#ls-global .ls-wrapper > h3,
html .ls-wrapper > h4,
body .ls-wrapper > h4,
#ls-global .ls-wrapper > h4,
html .ls-wrapper > h5,
body .ls-wrapper > h5,
#ls-global .ls-wrapper > h5,
html .ls-wrapper > img,
body .ls-wrapper > img,
#ls-global .ls-wrapper > img,
html .ls-wrapper > div,
body .ls-wrapper > div,
#ls-global .ls-wrapper > div,
html .ls-wrapper > span,
body .ls-wrapper > span,
#ls-global .ls-wrapper > span,
html .ls-wrapper .ls-bg,
body .ls-wrapper .ls-bg,
#ls-global .ls-wrapper .ls-bg,
html .ls-wrapper .ls-layer,
body .ls-wrapper .ls-layer,
#ls-global .ls-wrapper .ls-layer,
html .ls-slide .ls-layer,
body .ls-slide .ls-layer,
#ls-global .ls-slide .ls-layer,
html .ls-slide a .ls-layer,
body .ls-slide a .ls-layer,
#ls-global .ls-slide a .ls-layer{transition:none;-ms-transition:none;-webkit-transition:none;line-height:normal;outline:none;padding:0;margin:0;border-width:0;}
html .ls-container img,
body .ls-container img,
#ls-global .ls-container img{background:none !important;min-width:0 !important;max-width:none !important;border-radius:0;box-shadow:none;border:0;padding:0;}
html .ls-wp-container .ls-wrapper > a > *,
body .ls-wp-container .ls-wrapper > a > *,
#ls-global .ls-wp-container .ls-wrapper > a > *{margin:0;}
html .ls-wp-container .ls-wrapper > a,
body .ls-wp-container .ls-wrapper > a,
#ls-global .ls-wp-container .ls-wrapper > a{text-decoration:none;}
.ls-wp-fullwidth-container,
.ls-wp-fullwidth-helper,
.ls-gui-element *,
.ls-gui-element,
.ls-container,
.ls-slide > *,
.ls-slide,
.ls-wrapper,
.ls-layer{box-sizing:content-box !important;}
html .ls-yourlogo,
body .ls-yourlogo,
#ls-global .ls-yourlogo{margin:0;}
html .ls-tn,
body .ls-tn,
#ls-global .ls-tn{display:none;}
.ls-bottom-nav-wrapper,
.ls-bottom-nav-wrapper span,
.ls-bottom-nav-wrapper a{line-height:0;font-size:0;}
html .ls-container video,
body .ls-container video,
#ls-global .ls-container video{max-width:none !important;}
html .ls-container,
body .ls-container,
#ls-global .ls-container,
html .ls-container .ls-slide-transition-wrapper,
body .ls-container .ls-slide-transition-wrapper,
#ls-global .ls-container .ls-slide-transition-wrapper,
html .ls-container .ls-slide-transition-wrapper *,
body .ls-container .ls-slide-transition-wrapper *,
#ls-global .ls-container .ls-slide-transition-wrapper *,
html .ls-container .ls-bottom-nav-wrapper,
body .ls-container .ls-bottom-nav-wrapper,
#ls-global .ls-container .ls-bottom-nav-wrapper,
html .ls-container .ls-bottom-nav-wrapper *,
body .ls-container .ls-bottom-nav-wrapper *,
#ls-global .ls-container .ls-bottom-nav-wrapper *,
html .ls-container .ls-bottom-nav-wrapper span *,
body .ls-container .ls-bottom-nav-wrapper span *,
#ls-global .ls-container .ls-bottom-nav-wrapper span *,
html .ls-direction-fix,
body .ls-direction-fix,
#ls-global .ls-direction-fix{direction:ltr !important;}
html .ls-container,
body .ls-container,
#ls-global .ls-container{float:none !important;}
.ls-notification{position:relative;margin:10px auto;padding:10px 10px 15px 88px;border-radius:5px;background:#de4528;color:white !important;font-family:'Open Sans', arial, sans-serif !important;}
.ls-notification a{color:white !important;text-decoration:underline !important;}
.ls-notification-logo{position:absolute;top:16px;left:17px;width:56px;height:56px;font-size:49px;line-height:53px;border-radius:56px;background-color:white;color:#de4528;font-style:normal;font-weight:800;text-align:center;}
.ls-notification strong{color:white !important;display:block;font-size:20px;line-height:26px;font-weight:normal !important;}
.ls-notification span{display:block;font-size:13px;line-height:16px;text-align:justify !important;}
@media screen and (max-width:767px){.ls-container .ls-layers > .ls-hide-on-phone,
.ls-container .ls-background-videos .ls-hide-on-phone video,
.ls-container .ls-background-videos .ls-hide-on-phone audio,
.ls-container .ls-background-videos .ls-hide-on-phone iframe{display:none !important;}
}
@media screen and (min-width:768px) and (max-width:1024px){.ls-container .ls-layers > .ls-hide-on-tablet,
.ls-container .ls-background-videos .ls-hide-on-tablet video,
.ls-container .ls-background-videos .ls-hide-on-tablet audio,
.ls-container .ls-background-videos .ls-hide-on-tablet iframe{display:none !important;}
.form-row.form-row-first.fusion-alignleft.coupon-input{margin-bottom:0px !important;}
}
@media screen and (min-width:1025px){.ls-container .ls-layers > .ls-hide-on-desktop,
.ls-container .ls-background-videos .ls-hide-on-desktop video,
.ls-container .ls-background-videos .ls-hide-on-desktop audio,
.ls-container .ls-background-videos .ls-hide-on-desktop iframe{display:none !important;}
}
.ls-container .ls-background-videos .ls-vpcontainer{z-index:10;}
.ls-container .ls-background-videos .ls-videopreview{background-size:cover !important;}
.ls-container .ls-background-videos video,
.ls-container .ls-background-videos audio,
.ls-container .ls-background-videos iframe{position:relative;z-index:20;}
@media (transform-3d), (-ms-transform-3d), (-webkit-transform-3d){#ls-test3d{position:absolute;left:9px;height:3px;}
}
/*Start assets/css/Ilighnox.min.css*/
.ilightbox-holder,.ilightbox-holder .ilightbox-container,.ilightbox-holder .ilightbox-container .ilightbox-caption,.ilightbox-holder .ilightbox-container .ilightbox-social,.ilightbox-holder .ilightbox-container .ilightbox-social *,.ilightbox-holder .ilightbox-container img.ilightbox-image,.ilightbox-loader,.ilightbox-loader *,.ilightbox-overlay,.ilightbox-thumbnails,.ilightbox-thumbnails *,.ilightbox-toolbar,.ilightbox-toolbar *{float:none;margin:0;padding:0;border:0;font-size:100%;line-height:100%;vertical-align:baseline;background:0 0;-webkit-user-select:none;-ms-user-select:none;user-select:none}.fusion-disable-outline .ilightbox-holder,.fusion-disable-outline .ilightbox-holder .ilightbox-container,.fusion-disable-outline .ilightbox-holder .ilightbox-container .ilightbox-caption,.fusion-disable-outline .ilightbox-holder .ilightbox-container .ilightbox-social,.fusion-disable-outline .ilightbox-holder .ilightbox-container .ilightbox-social *,.fusion-disable-outline .ilightbox-holder .ilightbox-container img.ilightbox-image,.fusion-disable-outline .ilightbox-loader,.fusion-disable-outline .ilightbox-loader *,.fusion-disable-outline .ilightbox-overlay,.fusion-disable-outline .ilightbox-thumbnails,.fusion-disable-outline .ilightbox-thumbnails *,.fusion-disable-outline .ilightbox-toolbar,.fusion-disable-outline .ilightbox-toolbar *{outline:0}.ilightbox-holder .ilightbox-container .ilightbox-caption,.ilightbox-holder .ilightbox-container .ilightbox-social,.ilightbox-loader,.ilightbox-loader *,.ilightbox-overlay,.ilightbox-thumbnails,.ilightbox-thumbnails *,.ilightbox-toolbar{-webkit-transform:translateZ(0);-moz-transform:translateZ(0)}.ilightbox-noscroll{overflow:hidden}.ilightbox-closedhand *{cursor:url(../../assets/images/iLightbox/closedhand.cur),default!important}.ilightbox-overlay{display:none;position:fixed;top:0;left:0;width:100%;height:100%;z-index:100000}.ilightbox-loader{position:fixed;z-index:100005;top:45%;left:-192px;padding-left:30px;opacity:.9;border-radius:0 100px 100px 0}.ilightbox-loader div{width:72px;height:72px;border-radius:0 100px 100px 0}.ilightbox-loader.horizontal{left:45%;top:-192px;padding:0;padding-top:30px;border-radius:0 0 100px 100px}.ilightbox-loader.horizontal div{border-radius:0 0 100px 100px}.ilightbox-toolbar{display:none;position:fixed;z-index:100010}.ilightbox-toolbar a{float:left;cursor:pointer}.ilightbox-toolbar .ilightbox-next-button,.ilightbox-toolbar .ilightbox-prev-button{display:none}.ilightbox-thumbnails{display:block;position:fixed;z-index:100009}.ilightbox-thumbnails.ilightbox-horizontal{bottom:0;left:0;width:100%;height:100px}.ilightbox-thumbnails.ilightbox-vertical{top:0;right:0;width:140px;height:100%;overflow:hidden}.ilightbox-thumbnails .ilightbox-thumbnails-container{display:block;position:relative}.ilightbox-thumbnails.ilightbox-horizontal .ilightbox-thumbnails-container{width:100%;height:100px}.ilightbox-thumbnails.ilightbox-vertical .ilightbox-thumbnails-container{width:140px;height:100%}.ilightbox-thumbnails .ilightbox-thumbnails-grid{display:block;position:absolute;-webkit-transform:translateZ(0);-moz-transform:translateZ(0)}.ilightbox-thumbnails .ilightbox-thumbnails-grid .ilightbox-thumbnail{display:block;cursor:pointer;padding:0;margin:5px;position:relative}.ilightbox-thumbnails .ilightbox-thumbnails-grid .ilightbox-thumbnail img{width:100%;height:100%;border-radius:2px}.ilightbox-thumbnails .ilightbox-thumbnails-grid .ilightbox-thumbnail .ilightbox-thumbnail-icon{width:100%;height:100%;position:absolute;top:0;left:0;opacity:.7}.ilightbox-thumbnails .ilightbox-thumbnails-grid .ilightbox-thumbnail .ilightbox-thumbnail-icon:hover{opacity:1}.ilightbox-holder{display:none;position:fixed;z-index:100003;-webkit-transform:none;-moz-transform:none}.ilightbox-holder.ilightbox-next,.ilightbox-holder.ilightbox-prev{cursor:pointer}.ilightbox-holder div.ilightbox-container{position:relative;width:100%;height:100%}.ilightbox-holder.supportTouch div.ilightbox-container{overflow:scroll;-webkit-overflow-scrolling:touch}.ilightbox-holder img.ilightbox-image{width:100%;height:100%}.ilightbox-holder .ilightbox-container .ilightbox-caption{display:none;position:absolute;left:30px;right:30px;bottom:0;max-width:100%;padding:5px 10px;margin:0 auto;font-size:12px;line-height:150%;word-wrap:break-word;z-index:20003;box-sizing:border-box;border-radius:3px 3px 0 0}.ilightbox-holder .ilightbox-container .ilightbox-social{display:none;position:absolute;right:10px;top:10px;padding:5px;padding-left:0;z-index:20003;height:26px}.ilightbox-holder .ilightbox-container .ilightbox-social ul{float:left;list-style:none;height:26px}.ilightbox-holder .ilightbox-container .ilightbox-social ul li{display:inline}.ilightbox-holder .ilightbox-container .ilightbox-social ul li a{float:left;margin-left:5px;width:16px;height:16px;background-repeat:no-repeat;background-position:50%}.ilightbox-holder .ilightbox-container .ilightbox-social ul li.facebook a{background-image:url(../../assets/images/iLightbox/social_icons/facebook_16.png)}.ilightbox-holder .ilightbox-container .ilightbox-social ul li.digg a{background-image:url(../../assets/images/iLightbox/social_icons/digg_16.png)}.ilightbox-holder .ilightbox-container .ilightbox-social ul li.twitter a{background-image:url(../../assets/images/iLightbox/social_icons/twitter_16.png)}.ilightbox-holder .ilightbox-container .ilightbox-social ul li.delicious a{background-image:url(../../assets/images/iLightbox/social_icons/delicious_16.png)}.ilightbox-holder .ilightbox-container .ilightbox-social ul li.reddit a{background-image:url(../../assets/images/iLightbox/social_icons/reddit_16.png)}.ilightbox-holder .ilightbox-container .ilightbox-social ul li.googleplus a{background-image:url(../../assets/images/iLightbox/social_icons/google_plus_16.png)}.ilightbox-holder .ilightbox-alert{display:block;position:absolute;left:0;right:0;top:0;bottom:0;text-align:center;padding-top:100px;margin:auto;width:300px;height:50px}.ilightbox-holder .ilightbox-wrapper{width:100%;height:100%;overflow:auto;-webkit-overflow-scrolling:touch}.ilightbox-holder .ilightbox-inner-toolbar{position:relative;z-index:100}.ilightbox-holder .ilightbox-inner-toolbar .ilightbox-toolbar{position:absolute}.ilightbox-button{position:fixed;z-index:100008;cursor:pointer}.ilightbox-button.ilightbox-next-button.disabled,.ilightbox-button.ilightbox-prev-button.disabled{visibility:hidden;opacity:0}.isMobile .ilightbox-button,.isMobile .ilightbox-thumbnails{display:none!important}.isMobile .ilightbox-toolbar .ilightbox-next-button,.isMobile .ilightbox-toolbar .ilightbox-prev-button{display:block}.ilightbox-title{line-height:20px}.ilightbox-overlay.dark{background:#000}.ilightbox-loader.dark{box-shadow:#000 0 0 85px,#000 0 0 85px}.ilightbox-loader.dark div{background:#000 url(../../assets/images/iLightbox/dark-skin/preloader.gif) no-repeat center}.ilightbox-holder.dark{padding:5px;background:#000;box-shadow:0 0 15px rgba(0,0,0,.8)}.ilightbox-holder.dark .ilightbox-container .ilightbox-caption{background:url(../../assets/images/iLightbox/dark-skin/caption-bg.png);color:#fff;text-shadow:0 1px #000}.ilightbox-holder.dark .ilightbox-container .ilightbox-social{background:url(../../assets/images/iLightbox/dark-skin/caption-bg.png);border-radius:2px}.ilightbox-holder.dark .ilightbox-alert{background:url(../../assets/images/iLightbox/dark-skin/alert.png) no-repeat center top;color:#555}.ilightbox-toolbar.dark{top:11px;left:10px}.ilightbox-toolbar.dark a{width:25px;height:23px;background:#000 url(../../assets/images/iLightbox/dark-skin/buttons.png) no-repeat 7px 6px}.ilightbox-toolbar.dark a.disabled{opacity:.2;cursor:default;background-color:#000!important}.ilightbox-toolbar.dark a:first-of-type{border-bottom-left-radius:3px;border-top-left-radius:3px}.ilightbox-toolbar.dark a:last-of-type{border-bottom-right-radius:3px;border-top-right-radius:3px}.ilightbox-toolbar.dark a.ilightbox-close:hover{background-position:-32px 6px}.ilightbox-toolbar.dark a.ilightbox-fullscreen{background-position:6px -33px;right:35px}.ilightbox-toolbar.dark a.ilightbox-fullscreen:hover{background-position:-31px -33px}.ilightbox-toolbar.dark a.ilightbox-play{background-position:8px -57px}.ilightbox-toolbar.dark a.ilightbox-play:hover{background-position:-32px -57px}.ilightbox-toolbar.dark a.ilightbox-pause{background-position:8px -83px}.ilightbox-toolbar.dark a.ilightbox-pause:hover{background-position:-32px -83px}.isMobile .ilightbox-toolbar.dark{background:#000;top:auto;bottom:0;left:0;width:100%;height:40px;text-align:center;box-shadow:0 0 25px rgba(0,0,0,.8)}.isMobile .ilightbox-toolbar.dark a{display:inline-block;float:none;width:50px;height:40px;background-size:50%;background-position:50%!important}.isMobile .ilightbox-toolbar.dark a:hover{background-color:#111}.isMobile .ilightbox-toolbar.dark a.ilightbox-fullscreen{background-image:url(../../assets/images/iLightbox/dark-skin/fullscreen-icon-64.png)}.isMobile .ilightbox-toolbar.dark a.ilightbox-close{background-image:url(../../assets/images/iLightbox/dark-skin/x-mark-icon-64.png)}.isMobile .ilightbox-toolbar.dark a.ilightbox-next-button{background-image:url(../../assets/images/iLightbox/dark-skin/arrow-next-icon-64.png);background-position:52% 50%}.isMobile .ilightbox-toolbar.dark a.ilightbox-prev-button{background-image:url(../../assets/images/iLightbox/dark-skin/arrow-prev-icon-64.png);background-position:48% 50%}.isMobile .ilightbox-toolbar.dark a.ilightbox-play{background-image:url(../../assets/images/iLightbox/dark-skin/play-icon-64.png)}.isMobile .ilightbox-toolbar.dark a.ilightbox-pause{background-image:url(../../assets/images/iLightbox/dark-skin/pause-icon-64.png)}.ilightbox-holder.dark .ilightbox-inner-toolbar .ilightbox-title{font-size:18px;padding:10px 8px;padding-right:60px;color:#fff}.ilightbox-holder.dark .ilightbox-inner-toolbar .ilightbox-toolbar{left:auto;top:5px;right:5px}.ilightbox-holder.dark .ilightbox-inner-toolbar .ilightbox-toolbar a{border-radius:0;float:right}.ilightbox-holder.dark .ilightbox-inner-toolbar .ilightbox-toolbar a:first-of-type{border-bottom-right-radius:3px;border-top-right-radius:3px}.ilightbox-holder.dark .ilightbox-inner-toolbar .ilightbox-toolbar a:last-of-type{border-bottom-left-radius:3px;border-top-left-radius:3px}.ilightbox-thumbnails.dark .ilightbox-thumbnails-grid .ilightbox-thumbnail img{box-shadow:0 0 6px rgba(0,0,0,.9)}.ilightbox-thumbnails.dark .ilightbox-thumbnails-grid .ilightbox-thumbnail .ilightbox-thumbnail-video{background:url(../../assets/images/iLightbox/dark-skin/thumb-overlay-play.png) no-repeat center}.ilightbox-button.dark.disabled{opacity:.1;cursor:default;background-color:#000!important}.ilightbox-button.dark span{display:block;width:100%;height:100%}.ilightbox-button.dark{bottom:0;right:0;left:0;width:95px;height:75px;margin:auto;background:url(../../assets/images/iLightbox/dark-skin/arrow-next-vertical-icon-64.png) no-repeat 50% 65%;background-color:#000;border-radius:0;border-top-left-radius:5px;border-top-right-radius:5px}.ilightbox-button.ilightbox-button.dark:hover{background-color:#111}.ilightbox-button.ilightbox-prev-button.dark{top:0;bottom:auto;background-image:url(../../assets/images/iLightbox/dark-skin/arrow-prev-vertical-icon-64.png);background-position:50% 35%;border-radius:0;border-bottom-left-radius:5px;border-bottom-right-radius:5px}.ilightbox-button.dark.horizontal{right:0;left:auto;top:0;bottom:0;width:75px;height:95px;background-image:url(../../assets/images/iLightbox/dark-skin/arrow-next-icon-64.png);background-position:65% 50%;border-radius:0;border-bottom-left-radius:5px;border-top-left-radius:5px}.ilightbox-button.ilightbox-prev-button.dark.horizontal{right:auto;left:0;background-image:url(../../assets/images/iLightbox/dark-skin/arrow-prev-icon-64.png);background-position:35% 50%;border-radius:0;border-bottom-right-radius:5px;border-top-right-radius:5px}.ilightbox-overlay.light{background:#fff}.ilightbox-loader.light{box-shadow:#dacffc 0 0 85px,#dacffc 0 0 85px}.ilightbox-loader.light div{background:#fff url(../../assets/images/iLightbox/light-skin/preloader.gif) no-repeat center}.ilightbox-holder.light{padding:10px;background:#fff;box-shadow:0 0 15px #dacffc}.ilightbox-holder.light .ilightbox-container .ilightbox-caption{background:url(../../assets/images/iLightbox/light-skin/caption-bg.png);color:#000;text-shadow:0 1px #fff}.ilightbox-holder.light .ilightbox-container .ilightbox-social{background:url(../../assets/images/iLightbox/light-skin/caption-bg.png);border-radius:2px}.ilightbox-holder.light .ilightbox-alert{background:url(../../assets/images/iLightbox/light-skin/alert.png) no-repeat center top;color:#89949b}.ilightbox-toolbar.light{top:8px;left:8px;height:23px;box-shadow:0 0 7px #dacffc;border-radius:3px}.ilightbox-toolbar.light a{width:25px;height:23px;background:#fff url(../../assets/images/iLightbox/light-skin/buttons.png) no-repeat 7px 6px}.ilightbox-toolbar.light a.disabled{opacity:.2;cursor:default;background-color:#fff}.ilightbox-toolbar.light a:first-of-type{border-bottom-left-radius:3px;border-top-left-radius:3px}.ilightbox-toolbar.light a:last-of-type{border-bottom-right-radius:3px;border-top-right-radius:3px}.ilightbox-toolbar.light a.ilightbox-close:hover{background-position:-32px 6px}.ilightbox-toolbar.light a.ilightbox-fullscreen{background-position:6px -33px}.ilightbox-toolbar.light a.ilightbox-fullscreen:hover{background-position:-31px -33px}.ilightbox-toolbar.light a.ilightbox-play{background-position:8px -57px}.ilightbox-toolbar.light a.ilightbox-play:hover{background-position:-32px -57px}.ilightbox-toolbar.light a.ilightbox-pause{background-position:8px -83px}.ilightbox-toolbar.light a.ilightbox-pause:hover{background-position:-32px -83px}.isMobile .ilightbox-toolbar.light{background:#fff;top:auto;bottom:0;left:0;width:100%;height:40px;text-align:center;box-shadow:0 0 25px #dacffc}.isMobile .ilightbox-toolbar.light a{display:inline-block;float:none;width:50px;height:40px;background-size:50%;background-position:50%!important}.isMobile .ilightbox-toolbar.light a:hover{background-color:#f6f3ff}.isMobile .ilightbox-toolbar.light a.ilightbox-fullscreen{background-image:url(../../assets/images/iLightbox/light-skin/fullscreen-icon-64.png)}.isMobile .ilightbox-toolbar.light a.ilightbox-close{background-image:url(../../assets/images/iLightbox/light-skin/x-mark-icon-64.png)}.isMobile .ilightbox-toolbar.light a.ilightbox-next-button{background-image:url(../../assets/images/iLightbox/light-skin/arrow-next-icon-64.png);background-position:52% 50%}.isMobile .ilightbox-toolbar.light a.ilightbox-prev-button{background-image:url(../../assets/images/iLightbox/light-skin/arrow-prev-icon-64.png);background-position:48% 50%}.isMobile .ilightbox-toolbar.light a.ilightbox-play{background-image:url(../../assets/images/iLightbox/light-skin/play-icon-64.png)}.isMobile .ilightbox-toolbar.light a.ilightbox-pause{background-image:url(../../assets/images/iLightbox/light-skin/pause-icon-64.png)}.ilightbox-thumbnails.light .ilightbox-thumbnails-grid .ilightbox-thumbnail img{box-shadow:0 0 6px #dacffc}.ilightbox-thumbnails.light .ilightbox-thumbnails-grid .ilightbox-thumbnail .ilightbox-thumbnail-video{background:url(../../assets/images/iLightbox/light-skin/thumb-overlay-play.png) no-repeat center}.ilightbox-holder.light .ilightbox-inner-toolbar .ilightbox-title{font-size:18px;padding:10px 8px;padding-right:60px;color:#000}.ilightbox-holder.light .ilightbox-inner-toolbar .ilightbox-toolbar{left:auto;top:5px;right:5px}.ilightbox-holder.light .ilightbox-inner-toolbar .ilightbox-toolbar a{float:right}.ilightbox-holder.light .ilightbox-inner-toolbar .ilightbox-toolbar a:first-of-type{border-radius:0;border-bottom-right-radius:3px;border-top-right-radius:3px}.ilightbox-holder.light .ilightbox-inner-toolbar .ilightbox-toolbar a:last-of-type{border-radius:0;border-bottom-left-radius:3px;border-top-left-radius:3px}.ilightbox-button.light.disabled{opacity:.3;cursor:default;background-color:#fff!important}.ilightbox-button.light span{display:block;width:100%;height:100%}.ilightbox-button.ilightbox-next-button.light,.ilightbox-button.ilightbox-prev-button.light{bottom:0;right:0;left:0;width:95px;height:75px;margin:auto;background:url(../../assets/images/iLightbox/light-skin/arrow-next-vertical-icon-64.png) no-repeat 50% 65%;background-color:#fff;box-shadow:0 0 15px #dacffc}.ilightbox-button.ilightbox-button.light:hover{background-color:#f6f3ff}.ilightbox-button.ilightbox-prev-button.light{top:0;bottom:auto;background-image:url(../../assets/images/iLightbox/light-skin/arrow-prev-vertical-icon-64.png);background-position:50% 35%}.ilightbox-button.ilightbox-next-button.light.horizontal,.ilightbox-button.ilightbox-prev-button.light.horizontal{right:0;left:auto;top:0;bottom:0;width:75px;height:95px;background-image:url(../../assets/images/iLightbox/light-skin/arrow-next-icon-64.png);background-position:65% 50%;border-radius:0;border-bottom-left-radius:5px;border-top-left-radius:5px}.ilightbox-button.ilightbox-prev-button.light.horizontal{right:auto;left:0;background-image:url(../../assets/images/iLightbox/light-skin/arrow-prev-icon-64.png);background-position:35% 50%;border-radius:0;border-bottom-right-radius:5px;border-top-right-radius:5px}.ilightbox-overlay.mac{background:#2b2b2b}.ilightbox-loader.mac{box-shadow:#000 0 0 85px,#000 0 0 85px}.ilightbox-loader.mac div{background:#141414 url(../../assets/images/iLightbox/mac-skin/preloader.gif) no-repeat center}.ilightbox-holder.mac{padding:2px;background:rgba(35,35,35,.9);box-shadow:0 38px 30px -18px rgba(0,0,0,.6)}.ilightbox-holder.mac .ilightbox-container .ilightbox-caption{background:url(../../assets/images/iLightbox/mac-skin/caption-bg.png);color:#fff;bottom:15px;left:15px;right:15px;border:rgba(255,255,255,.8) 1px solid;box-shadow:0 0 2px rgba(0,0,0,.5);border-radius:3px}.ilightbox-holder.mac .ilightbox-container .ilightbox-social{background:#fff}.ilightbox-holder.mac .ilightbox-alert{background:url(../../assets/images/iLightbox/mac-skin/alert.png) no-repeat center top;color:#555}.ilightbox-toolbar.mac{top:15px;left:15px;background:linear-gradient(to bottom,#414141 0,#414141 40%,#323232 60%,#323232 100%);border:rgba(30,30,30,.6) 1px solid;overflow:hidden;border-radius:3px}.ilightbox-toolbar.mac a{width:28px;height:28px;background:no-repeat 50%}.ilightbox-toolbar.mac a.disabled{opacity:.2;cursor:default;background-color:transparent!important}.ilightbox-toolbar.mac a:hover{background-color:#4b4b4b}.ilightbox-toolbar.mac a.ilightbox-close{background-image:url(../../assets/images/iLightbox/mac-skin/close-25.png)}.ilightbox-toolbar.mac a.ilightbox-fullscreen{background-image:url(../../assets/images/iLightbox/mac-skin/resize-25.png);right:35px}.ilightbox-toolbar.mac a.ilightbox-play{background-image:url(../../assets/images/iLightbox/mac-skin/play-25.png);right:35px}.ilightbox-toolbar.mac a.ilightbox-pause{background-image:url(../../assets/images/iLightbox/mac-skin/pause-25.png);right:35px}.isMobile .ilightbox-toolbar.mac{top:auto;bottom:0;left:0;width:100%;height:40px;background:linear-gradient(to bottom,#414141 0,#414141 40%,#323232 60%,#323232 100%);border:0;border-top:rgba(30,30,30,.6) 1px solid;overflow:hidden;text-align:center;border-radius:3px}.isMobile .ilightbox-toolbar.mac a{display:inline-block;float:none;width:50px;height:40px;background-size:50%;background-position:50%!important}.isMobile .ilightbox-toolbar.mac a.ilightbox-fullscreen{background-image:url(../../assets/images/iLightbox/mac-skin/resize-50.png)}.isMobile .ilightbox-toolbar.mac a.ilightbox-close{background-image:url(../../assets/images/iLightbox/mac-skin/close-50.png)}.isMobile .ilightbox-toolbar.mac a.ilightbox-next-button{background-image:url(../../assets/images/iLightbox/mac-skin/forward-50.png);background-position:52% 50%!important}.isMobile .ilightbox-toolbar.mac a.ilightbox-prev-button{background-image:url(../../assets/images/iLightbox/mac-skin/back-50.png);background-position:48% 50%!important}.isMobile .ilightbox-toolbar.mac a.ilightbox-play{background-image:url(../../assets/images/iLightbox/mac-skin/play-50.png);background-size:80%;background-position:70% 50%!important}.isMobile .ilightbox-toolbar.mac a.ilightbox-pause{background-image:url(../../assets/images/iLightbox/mac-skin/pause-50.png);background-size:80%}.ilightbox-holder.mac .ilightbox-inner-toolbar .ilightbox-title{font-size:18px;padding:10px 8px;color:#000}.ilightbox-holder.mac .ilightbox-inner-toolbar .ilightbox-toolbar{display:inline-block;left:-15px;top:-15px}.ilightbox-holder.mac .ilightbox-inner-toolbar .ilightbox-toolbar a{float:left;border-radius:0}.ilightbox-thumbnails.mac .ilightbox-thumbnails-grid .ilightbox-thumbnail img{box-shadow:0 0 6px rgba(0,0,0,.9);border-radius:0}.ilightbox-thumbnails.mac .ilightbox-thumbnails-grid .ilightbox-thumbnail .ilightbox-thumbnail-video{background:url(../../assets/images/iLightbox/mac-skin/thumb-overlay-play.png) no-repeat center}.ilightbox-button.mac.disabled{opacity:.2;cursor:default;background:#3b3b3b!important}.ilightbox-button.mac span{display:block;width:100%;height:100%}.ilightbox-button.mac{bottom:0;right:0;left:0;width:95px;height:55px;margin:auto;background:linear-gradient(to bottom,#414141 0,#414141 40%,#323232 60%,#323232 100%);border:rgba(30,30,30,.6) 1px solid;border-radius:0;border-top-left-radius:5px;border-top-right-radius:5px}.ilightbox-button.ilightbox-button.mac:hover{background:linear-gradient(to bottom,#4b4b4b 0,#4b4b4b 40%,#3c3c3c 60%,#3c3c3c 100%)}.ilightbox-button.ilightbox-prev-button.mac{top:0;bottom:auto;border-radius:0;border-bottom-left-radius:5px;border-bottom-right-radius:5px}.ilightbox-button.ilightbox-next-button.mac span{background:url(../../assets/images/iLightbox/mac-skin/forward-vertical-50.png) no-repeat 50% 75%}.ilightbox-button.ilightbox-prev-button.mac span{background:url(../../assets/images/iLightbox/mac-skin/back-vertical-50.png) no-repeat 50% 25%}.ilightbox-button.ilightbox-next-button.mac.horizontal,.ilightbox-button.ilightbox-prev-button.mac.horizontal{right:0;left:auto;top:0;bottom:0;width:55px;height:95px;border-radius:0;border-bottom-left-radius:5px;border-top-left-radius:5px}.ilightbox-button.ilightbox-prev-button.mac.horizontal{right:auto;left:0;border-radius:0;border-bottom-right-radius:5px;border-top-right-radius:5px}.ilightbox-button.ilightbox-next-button.mac.horizontal span{background:url(../../assets/images/iLightbox/mac-skin/forward-50.png) no-repeat 75% 50%}.ilightbox-button.ilightbox-prev-button.mac.horizontal span{background:url(../../assets/images/iLightbox/mac-skin/back-50.png) no-repeat 25% 50%}.ilightbox-overlay.metro-black{background:#000}.ilightbox-loader.metro-black{box-shadow:#000 0 0 55px,rgba(0,0,0,.3) 0 0 55px}.ilightbox-loader.metro-black div{background:#000 url(../../assets/images/iLightbox/metro-black-skin/preloader.gif) no-repeat center}.ilightbox-holder.metro-black{padding:3px;background:#000;box-shadow:0 0 45px rgba(0,0,0,.8)}.ilightbox-holder.metro-black .ilightbox-container .ilightbox-caption{background:url(../../assets/images/iLightbox/metro-black-skin/caption-bg.png) repeat-x bottom;background-size:100% 100%;left:0;right:0;color:#fff;text-shadow:0 0 3px rgba(0,0,0,.75);padding-top:15px}.ilightbox-holder.metro-black .ilightbox-container .ilightbox-social{background:url(../../assets/images/iLightbox/metro-black-skin/social-bg.png);border-radius:2px}.ilightbox-holder.metro-black .ilightbox-alert{background:url(../../assets/images/iLightbox/metro-black-skin/alert.png) no-repeat center top;color:#555}.ilightbox-toolbar.metro-black{top:8px;left:8px;height:25px}.ilightbox-toolbar.metro-black a{width:27px;height:25px;background:#000 url(../../assets/images/iLightbox/metro-black-skin/buttons.png) no-repeat 7px 6px}.ilightbox-toolbar.metro-black a:hover{background-color:#51b7ff}.ilightbox-toolbar.metro-black a.ilightbox-close:hover{background-color:#d94947}.ilightbox-toolbar.metro-black a.disabled{opacity:.2;cursor:default;background-color:#000;box-shadow:0 0 25px rgba(0,0,0,.8)}.ilightbox-toolbar.metro-black a.ilightbox-fullscreen{background-position:6px -31px}.ilightbox-toolbar.metro-black a.ilightbox-play{background-position:8px -55px}.ilightbox-toolbar.metro-black a.ilightbox-pause{background-position:8px -81px}.isMobile .ilightbox-toolbar.metro-black{background:#000;top:auto;bottom:0;left:0;width:100%;height:40px;text-align:center}.isMobile .ilightbox-toolbar.metro-black a{display:inline-block;float:none;width:50px;height:40px;background-size:50%;background-position:50%}.isMobile .ilightbox-toolbar.metro-black a.ilightbox-fullscreen{background-image:url(../../assets/images/iLightbox/metro-black-skin/fullscreen-icon-64.png)}.isMobile .ilightbox-toolbar.metro-black a.ilightbox-close{background-image:url(../../assets/images/iLightbox/metro-black-skin/x-mark-icon-64.png)}.isMobile .ilightbox-toolbar.metro-black a.ilightbox-next-button{background-image:url(../../assets/images/iLightbox/metro-black-skin/arrow-next-icon-64.png);background-position:52% 50%}.isMobile .ilightbox-toolbar.metro-black a.ilightbox-prev-button{background-image:url(../../assets/images/iLightbox/metro-black-skin/arrow-prev-icon-64.png);background-position:48% 50%}.isMobile .ilightbox-toolbar.metro-black a.ilightbox-play{background-image:url(../../assets/images/iLightbox/metro-black-skin/play-icon-64.png)}.isMobile .ilightbox-toolbar.metro-black a.ilightbox-pause{background-image:url(../../assets/images/iLightbox/metro-black-skin/pause-icon-64.png)}.ilightbox-holder.metro-black .ilightbox-inner-toolbar .ilightbox-title{font-size:18px;padding:10px 12px;padding-right:60px;color:#acacad}.ilightbox-holder.metro-black .ilightbox-inner-toolbar .ilightbox-toolbar{left:auto;top:5px;right:5px}.ilightbox-holder.metro-black .ilightbox-inner-toolbar .ilightbox-toolbar a{float:right}.ilightbox-thumbnails.metro-black.ilightbox-horizontal{height:104px}.ilightbox-thumbnails.metro-black.ilightbox-horizontal .ilightbox-thumbnails-container{height:104px}.ilightbox-thumbnails.metro-black.ilightbox-vertical{width:144px}.ilightbox-thumbnails.metro-black.ilightbox-vertical .ilightbox-thumbnails-container{width:144px}.ilightbox-thumbnails.metro-black .ilightbox-thumbnails-grid .ilightbox-thumbnail img{border:2px solid #000;box-shadow:0 0 10px rgba(0,0,0,.8);border-radius:0}.ilightbox-thumbnails.metro-black .ilightbox-thumbnails-grid .ilightbox-thumbnail .ilightbox-thumbnail-video{background:url(../../assets/images/iLightbox/metro-black-skin/thumb-overlay-play.png) no-repeat center}.ilightbox-button.metro-black.disabled{opacity:.1;cursor:default}.ilightbox-button.metro-black span{display:block;width:100%;height:100%}.ilightbox-button.ilightbox-next-button.metro-black,.ilightbox-button.ilightbox-prev-button.metro-black{bottom:0;right:0;left:0;width:30%;height:100px;margin:auto;background:url(../../assets/images/iLightbox/metro-black-skin/arrows_vertical.png) no-repeat 50% -100px;background-color:#000;background-color:rgba(0,0,0,.5)}.ilightbox-button.ilightbox-prev-button.metro-black{top:0;bottom:auto;background-position:50% 0}.ilightbox-button.ilightbox-next-button.metro-black.horizontal,.ilightbox-button.ilightbox-prev-button.metro-black.horizontal{right:0;left:auto;top:0;bottom:0;width:100px;height:30%;background-image:url(../../assets/images/iLightbox/metro-black-skin/arrows_horizontal.png);background-position:-93px 50%}.ilightbox-button.ilightbox-prev-button.metro-black.horizontal{right:auto;left:0;background-position:-7px 50%}.ilightbox-overlay.metro-white{background:#fff}.ilightbox-loader.metro-white{box-shadow:rgba(0,0,0,.3) 0 0 55px}.ilightbox-loader.metro-white div{background:#fff url(../../assets/images/iLightbox/metro-white-skin/preloader.gif) no-repeat center}.ilightbox-holder.metro-white{padding:3px;background:#fff;box-shadow:0 0 45px rgba(0,0,0,.2)}.ilightbox-holder.metro-white .ilightbox-container .ilightbox-caption{background:url(../../assets/images/iLightbox/metro-white-skin/caption-bg.png) repeat-x bottom;background-size:100% 100%;left:0;right:0;color:#000;text-shadow:0 1px 1px rgba(0,0,0,.3);padding-top:15px}.ilightbox-holder.metro-white .ilightbox-container .ilightbox-social{background:url(../../assets/images/iLightbox/metro-white-skin/social-bg.png);border-radius:2px}.ilightbox-holder.metro-white .ilightbox-alert{background:url(../../assets/images/iLightbox/metro-white-skin/alert.png) no-repeat center top;color:#89949b}.ilightbox-toolbar.metro-white{top:8px;left:8px;height:25px}.ilightbox-toolbar.metro-white a{width:27px;height:25px;background:#fff url(../../assets/images/iLightbox/metro-white-skin/buttons.png) no-repeat 7px 6px}.ilightbox-toolbar.metro-white a:hover{background-color:#51b7ff}.ilightbox-toolbar.metro-white a.disabled{opacity:.2;cursor:default;background-color:#fff}.ilightbox-toolbar.metro-white a.ilightbox-close:hover{background-color:#d94947;background-position:-30px 6px}.ilightbox-toolbar.metro-white a.ilightbox-fullscreen{background-position:6px -31px}.ilightbox-toolbar.metro-white a.ilightbox-fullscreen:hover{background-position:-29px -31px}.ilightbox-toolbar.metro-white a.ilightbox-play{background-position:8px -55px}.ilightbox-toolbar.metro-white a.ilightbox-play:hover{background-position:-30px -55px}.ilightbox-toolbar.metro-white a.ilightbox-pause{background-position:8px -81px}.ilightbox-toolbar.metro-white a.ilightbox-pause:hover{background-position:-30px -81px}.isMobile .ilightbox-toolbar.metro-white{background:#fff;top:auto;bottom:0;left:0;width:100%;height:40px;text-align:center;box-shadow:0 0 25px rgba(0,0,0,.2)}.isMobile .ilightbox-toolbar.metro-white a,.isMobile .ilightbox-toolbar.metro-white a:hover{display:inline-block;float:none;width:50px;height:40px;background-size:50%;background-position:50%}.isMobile .ilightbox-toolbar.metro-white a.ilightbox-fullscreen{background-image:url(../../assets/images/iLightbox/metro-white-skin/fullscreen-icon-64.png)}.isMobile .ilightbox-toolbar.metro-white a.ilightbox-fullscreen:hover{background-image:url(../../assets/images/iLightbox/metro-white-skin/fullscreen-hover-icon-64.png)}.isMobile .ilightbox-toolbar.metro-white a.ilightbox-close{background-image:url(../../assets/images/iLightbox/metro-white-skin/x-mark-icon-64.png)}.isMobile .ilightbox-toolbar.metro-white a.ilightbox-close:hover{background-image:url(../../assets/images/iLightbox/metro-white-skin/x-mark-hover-icon-64.png)}.isMobile .ilightbox-toolbar.metro-white a.ilightbox-next-button{background-image:url(../../assets/images/iLightbox/metro-white-skin/arrow-next-icon-64.png);background-position:52% 50%}.isMobile .ilightbox-toolbar.metro-white a.ilightbox-next-button:hover{background-image:url(../../assets/images/iLightbox/metro-white-skin/arrow-next-hover-icon-64.png)}.isMobile .ilightbox-toolbar.metro-white a.ilightbox-next-button.disabled{background-image:url(../../assets/images/iLightbox/metro-white-skin/arrow-next-icon-64.png);background-position:52% 50%}.isMobile .ilightbox-toolbar.metro-white a.ilightbox-prev-button{background-image:url(../../assets/images/iLightbox/metro-white-skin/arrow-prev-icon-64.png);background-position:48% 50%}.isMobile .ilightbox-toolbar.metro-white a.ilightbox-prev-button:hover{background-image:url(../../assets/images/iLightbox/metro-white-skin/arrow-prev-hover-icon-64.png)}.isMobile .ilightbox-toolbar.metro-white a.ilightbox-prev-button.disabled{background-image:url(../../assets/images/iLightbox/metro-white-skin/arrow-prev-icon-64.png);background-position:48% 50%}.isMobile .ilightbox-toolbar.metro-white a.ilightbox-play{background-image:url(../../assets/images/iLightbox/metro-white-skin/play-icon-64.png)}.isMobile .ilightbox-toolbar.metro-white a.ilightbox-play:hover{background-image:url(../../assets/images/iLightbox/metro-white-skin/play-hover-icon-64.png)}.isMobile .ilightbox-toolbar.metro-white a.ilightbox-pause{background-image:url(../../assets/images/iLightbox/metro-white-skin/pause-icon-64.png)}.isMobile .ilightbox-toolbar.metro-white a.ilightbox-pause:hover{background-image:url(../../assets/images/iLightbox/metro-white-skin/pause-hover-icon-64.png)}.ilightbox-thumbnails.metro-white.ilightbox-horizontal{height:104px}.ilightbox-thumbnails.metro-white.ilightbox-horizontal .ilightbox-thumbnails-container{height:104px}.ilightbox-thumbnails.metro-white.ilightbox-vertical{width:144px}.ilightbox-thumbnails.metro-white.ilightbox-vertical .ilightbox-thumbnails-container{width:144px}.ilightbox-thumbnails.metro-white .ilightbox-thumbnails-grid .ilightbox-thumbnail img{border:2px solid #fff;box-shadow:0 0 10px rgba(0,0,0,.2);border-radius:0}.ilightbox-thumbnails.metro-white .ilightbox-thumbnails-grid .ilightbox-thumbnail .ilightbox-thumbnail-video{background:url(../../assets/images/iLightbox/metro-white-skin/thumb-overlay-play.png) no-repeat center}.ilightbox-holder.metro-white .ilightbox-inner-toolbar .ilightbox-title{font-size:18px;padding:10px 12px;padding-right:60px;color:#535352}.ilightbox-holder.metro-white .ilightbox-inner-toolbar .ilightbox-toolbar{left:auto;top:5px;right:5px}.ilightbox-holder.metro-white .ilightbox-inner-toolbar .ilightbox-toolbar a{float:right}.ilightbox-button.metro-white.disabled{opacity:.1;cursor:default}.ilightbox-button.metro-white span{display:block;width:100%;height:100%}.ilightbox-button.ilightbox-next-button.metro-white,.ilightbox-button.ilightbox-prev-button.metro-white{bottom:0;right:0;left:0;width:30%;height:100px;margin:auto;background:url(../../assets/images/iLightbox/metro-white-skin/arrows_vertical.png) no-repeat 50% -100px;background-color:#fff;background-color:rgba(255,255,255,.6)}.ilightbox-button.ilightbox-prev-button.metro-white{top:0;bottom:auto;background-position:50% 0}.ilightbox-button.ilightbox-next-button.metro-white.horizontal,.ilightbox-button.ilightbox-prev-button.metro-white.horizontal{right:0;left:auto;top:0;bottom:0;width:100px;height:30%;background-image:url(../../assets/images/iLightbox/metro-white-skin/arrows_horizontal.png);background-position:-93px 50%}.ilightbox-button.ilightbox-prev-button.metro-white.horizontal{right:auto;left:0;background-position:-7px 50%}.ilightbox-overlay.parade{background:#333 url(../../assets/images/iLightbox/parade-skin/pattern.png)}.ilightbox-loader.parade{box-shadow:0 0 35px rgba(0,0,0,.3)}.ilightbox-loader.parade div{background:#fff url(../../assets/images/iLightbox/parade-skin/preloader.gif) no-repeat center}.ilightbox-holder.parade{padding:10px;background:#333;background:rgba(0,0,0,.25);border-radius:4px}.ilightbox-holder.parade .ilightbox-container{background:#fff}.ilightbox-holder.parade .ilightbox-container .ilightbox-caption{background:url(../../assets/images/iLightbox/parade-skin/caption-bg.png);color:#fff;text-shadow:0 1px #000}.ilightbox-holder.parade .ilightbox-container .ilightbox-social{background:url(../../assets/images/iLightbox/parade-skin/caption-bg.png);border-radius:2px}.ilightbox-holder.parade .ilightbox-alert{background:url(../../assets/images/iLightbox/parade-skin/alert.png) no-repeat center top;color:#555}.ilightbox-toolbar.parade{top:11px;left:10px;padding:3px;background:#333;background:rgba(0,0,0,.25)}.ilightbox-toolbar.parade a{width:29px;height:25px;background:#fff url(../../assets/images/iLightbox/parade-skin/buttons.png) no-repeat 8px 6px}.ilightbox-toolbar.parade a:hover{background-color:#f5f5f5}.ilightbox-toolbar.parade a.ilightbox-close:hover{background-position:-29px 6px}.ilightbox-toolbar.parade a.ilightbox-fullscreen{background-position:8px -33px;right:35px}.ilightbox-toolbar.parade a.ilightbox-fullscreen:hover{background-position:-29px -33px}.ilightbox-thumbnails.parade .ilightbox-thumbnails-grid .ilightbox-thumbnail img{box-shadow:0 0 6px rgba(0,0,0,.9)}.ilightbox-thumbnails.parade .ilightbox-thumbnails-grid .ilightbox-thumbnail .ilightbox-thumbnail-video{background:url(../../assets/images/iLightbox/parade-skin/thumb-overlay-play.png) no-repeat center}.ilightbox-holder.parade .ilightbox-inner-toolbar .ilightbox-title{font-size:18px;padding:10px 8px;padding-right:60px;color:#fff}.ilightbox-holder.parade .ilightbox-inner-toolbar .ilightbox-toolbar{left:auto;top:5px;right:5px}.ilightbox-holder.parade .ilightbox-inner-toolbar .ilightbox-toolbar a{float:right}.ilightbox-overlay.smooth{background:#0f0f0f}.ilightbox-loader.smooth{box-shadow:#000 0 0 55px,rgba(0,0,0,.3) 0 0 55px}.ilightbox-loader.smooth div{background:#000 url(../../assets/images/iLightbox/smooth-skin/preloader.gif) no-repeat center}.ilightbox-holder.smooth{box-shadow:0 0 45px rgba(0,0,0,.9)}.ilightbox-holder.smooth .ilightbox-container>*{pointer-events:all}.ilightbox-holder.smooth .ilightbox-container:after{content:'';position:absolute;top:0;left:0;width:100%;height:100%;pointer-events:none;box-shadow:inset 0 0 0 1px rgba(255,255,255,.11)}.ilightbox-holder.smooth .ilightbox-container .ilightbox-caption{background:url(../../assets/images/iLightbox/smooth-skin/caption-bg.png);border:1px solid rgba(0,0,0,.2);left:1px;right:1px;bottom:1px;color:#fff;text-shadow:0 0 3px rgba(0,0,0,.75);border-radius:0}.ilightbox-holder.smooth .ilightbox-container .ilightbox-social{background:url(../../assets/images/iLightbox/smooth-skin/caption-bg.png);border:1px solid rgba(0,0,0,.2);left:1px;top:1px;border-radius:0}.ilightbox-holder.smooth .ilightbox-alert{background:url(../../assets/images/iLightbox/smooth-skin/alert.png) no-repeat center top;color:#555}.ilightbox-toolbar.smooth{top:8px;left:8px;height:25px}.ilightbox-toolbar.smooth a{width:27px;height:25px;background:#000 url(../../assets/images/iLightbox/smooth-skin/buttons.png) no-repeat 7px 6px}.ilightbox-toolbar.smooth a:hover{background-color:#51b7ff}.ilightbox-toolbar.smooth a.ilightbox-close:hover{background-color:#d94947}.ilightbox-toolbar.smooth a.disabled{opacity:.2;cursor:default;background-color:#000;box-shadow:0 0 25px rgba(0,0,0,.8)}.ilightbox-toolbar.smooth a.ilightbox-fullscreen{background-position:6px -31px}.ilightbox-toolbar.smooth a.ilightbox-play{background-position:8px -55px}.ilightbox-toolbar.smooth a.ilightbox-pause{background-position:8px -81px}.isMobile .ilightbox-toolbar.smooth{background:#000;top:auto;bottom:0;left:0;width:100%;height:40px;text-align:center}.isMobile .ilightbox-toolbar.smooth a{display:inline-block;float:none;width:50px;height:40px;background-size:50%;background-position:50%}.isMobile .ilightbox-toolbar.smooth a.ilightbox-fullscreen{background-image:url(../../assets/images/iLightbox/smooth-skin/fullscreen-icon-64.png)}.isMobile .ilightbox-toolbar.smooth a.ilightbox-close{background-image:url(../../assets/images/iLightbox/smooth-skin/x-mark-icon-64.png)}.isMobile .ilightbox-toolbar.smooth a.ilightbox-next-button{background-image:url(../../assets/images/iLightbox/smooth-skin/arrow-next-icon-64.png);background-position:52% 50%}.isMobile .ilightbox-toolbar.smooth a.ilightbox-prev-button{background-image:url(../../assets/images/iLightbox/smooth-skin/arrow-prev-icon-64.png);background-position:48% 50%}.isMobile .ilightbox-toolbar.smooth a.ilightbox-play{background-image:url(../../assets/images/iLightbox/smooth-skin/play-icon-64.png)}.isMobile .ilightbox-toolbar.smooth a.ilightbox-pause{background-image:url(../../assets/images/iLightbox/smooth-skin/pause-icon-64.png)}.ilightbox-holder.smooth .ilightbox-inner-toolbar .ilightbox-title{font-size:18px;padding:10px 12px;padding-right:60px;color:#acacad}.ilightbox-holder.smooth .ilightbox-inner-toolbar .ilightbox-toolbar{left:auto;top:5px;right:5px}.ilightbox-holder.smooth .ilightbox-inner-toolbar .ilightbox-toolbar a{float:right}.ilightbox-thumbnails.smooth.ilightbox-horizontal{height:100px}.ilightbox-thumbnails.smooth.ilightbox-horizontal .ilightbox-thumbnails-container{height:100px}.ilightbox-thumbnails.smooth.ilightbox-vertical{width:140px}.ilightbox-thumbnails.smooth.ilightbox-vertical .ilightbox-thumbnails-container{width:140px}.ilightbox-thumbnails.smooth .ilightbox-thumbnails-grid .ilightbox-thumbnail{padding:10px}.ilightbox-thumbnails.smooth .ilightbox-thumbnails-grid .ilightbox-thumbnail img{box-shadow:0 0 10px rgba(0,0,0,.8);border-radius:0}.ilightbox-thumbnails.smooth .ilightbox-thumbnails-grid .ilightbox-thumbnail:after{display:block;content:'';position:absolute;top:10px;left:10px;right:10px;bottom:10px;margin:auto;pointer-events:none;box-sizing:border-box;box-shadow:inset 0 0 0 1px rgba(255,255,255,.11)}.ilightbox-thumbnails.smooth.ilightbox-vertical .ilightbox-thumbnails-grid .ilightbox-thumbnail{margin-bottom:-10px}.ilightbox-thumbnails.smooth.ilightbox-horizontal .ilightbox-thumbnails-grid .ilightbox-thumbnail{margin-right:-10px}.ilightbox-thumbnails.smooth .ilightbox-thumbnails-grid .ilightbox-thumbnail .ilightbox-thumbnail-video{background:url(../../assets/images/iLightbox/smooth-skin/thumb-overlay-play.png) no-repeat center}.ilightbox-button.smooth.disabled{opacity:.1;cursor:default}.ilightbox-button.smooth span{display:block;width:100%;height:100%}.ilightbox-button.smooth{bottom:0;right:0;left:0;width:120px;height:70px;margin:auto;background:url(../../assets/images/iLightbox/smooth-skin/arrows_vertical.png) no-repeat 50% -110px;background-color:#000;background-color:rgba(0,0,0,.5);border:rgba(255,255,255,.2) 1px solid}.ilightbox-button.ilightbox-next-button.smooth{border-bottom:0}.ilightbox-button.ilightbox-prev-button.smooth{top:0;bottom:auto;background-position:50% -15px;border-top:0}.ilightbox-button.smooth.horizontal{right:0;left:auto;top:0;bottom:0;width:70px;height:120px;background-image:url(../../assets/images/iLightbox/smooth-skin/arrows_horizontal.png);background-position:-110px 50%;border:rgba(255,255,255,.2) 1px solid}.ilightbox-button.ilightbox-next-button.smooth.horizontal{border-right:0}.ilightbox-button.ilightbox-prev-button.smooth.horizontal{right:auto;left:0;background-position:-18px 50%;border-left:0}
/*End assets/css/ilighbox.css*/
#address_type_field.addr_type_class .input-radio{-webkit-appearance:radio;-moz-appearance:radio;appearance:radio;}
#address_type_field > label:nth-child(1){color:#f00;display:block !important;font-weight:bold;}
#address_type_field.addr_type_class .radio{margin-right:0px;}
ul#shipping_method{font-size:15px !important;}
.cart_totals table th{vertical-align:top !important;}
.checkout .shop_table tfoot th{vertical-align:top !important;}
.input-radio{margin-top:0;}
@media screen and (max-width:320px){.radio{display:inline !important;font-size:11px;}
}
@media screen and (min-width:320px) and (max-width:767px){.checkout_total_emm{display:none;}
ul#shipping_method{width:145px !important;}
#shipping_method label{display:inline !important;}
}
@media screen and (min-width:768px) and (max-width:900px){ul#shipping_method{width:150px !important;}
#shipping_method label{display:inline !important;}
}
@media screen and (min-width:1024px){.page-id-4099 ul#shipping_method{width:490px !important;}
ul#shipping_method{width:420px !important;}
.page-id-4099 ul#shipping_method{margin-right:6%;}
.checkout .shop_table tfoot td > p{width:470px;text-align:left;}
}
.shop_table tbody tr{height:auto !important;}
.checkout .shop_table tfoot th{float:left;}
.cart-subtotal img{max-width:none;}
.checkout_total_emm{border-right:1px solid #e0dede;text-align:left !important;}
.checkout .shop_table tfoot tr:first-child td,.checkout .shop_table tfoot tr:first-child th{padding-top:0px !important;vertical-align:top;}
.shop_table{margin:20px 0 !important;}
.button-medium{font-size:12px !important;}
.postid-11407 a, .postid-11407 .fusion-footer-widget-area, .postid-11407 .fusion-copyright-notice{font-weight:100 !important;}
.postid-11403 a, .postid-11403 .fusion-footer-widget-area, .postid-11403 .fusion-copyright-notice{font-weight:100 !important;}
.flat_emm span.woocommerce-Price-amount.amount{color:#000;font-weight:normal;}
.flat_emm{color:#43ab05;font-weight:bold;}
form.checkout label{display:inline !important;}
.my_account_orders .woocommerce-orders-table__cell-order-actions a::after{position:absolute;font-family:icomoon;content:'\f105';margin-left:4px;vertical-align:bottom;}
.widget_shopping_cart_content .buttons > a::before{margin-right:2px !important;}
.payment_methods li img{float:none !important;}
.wc_payment_method.payment_method_ppec_paypal strong{line-height:36px;}
.wc_payment_method.payment_method_authorize_net_aim strong{line-height:36px;}
.fusion-megamenu-holder{background-color:transparent !important;box-shadow:0px 0px 0px rgba(0, 0, 0, 0.06) !important;-webkit-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.06) !important;-moz-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.06) !important;}
.fusion-megamenu-wrapper.col-span-12 .fusion-megamenu{background-color:#025797;}
@media only screen and (max-width:640px){.my_account_orders .woocommerce-orders-table__cell-order-date{display:block !important;}
.my_account_orders .woocommerce-orders-table__cell-order-status{display:table-cell !important;}
.shop_table td{width:inherit;font-size:12px !important;padding:25px 4px !important;}
.woocommerce-MyAccount-content .my_account_orders .woocommerce-orders-table__cell-order-actions{padding-left:0px !important;}
.my_account_orders .woocommerce-orders-table__cell-order-actions a:after, .woocommerce-MyAccount-downloads .download-actions a:after{margin-left:3px !important;}
a.woocommerce-button.woocommerce-button--next.woocommerce-Button.woocommerce-Button--next.button{margin-right:3px;}
.cart .avada-cart-actions .actions{display:none;}
}
.woocommerce-MyAccount-content .woocommerce-Pagination .woocommerce-Button--previous:before{vertical-align:top !important;}
.woocommerce-MyAccount-content .woocommerce-Pagination .woocommerce-Button--next:after{vertical-align:top !important;}
.wcppec-checkout-buttons{text-align:center;margin:1em 0;overflow:hidden;}
.wcppec-checkout-buttons__separator{display:block;opacity:.5;margin:0 0 1em;}
.wcppec-checkout-buttons__button{display:block;text-decoration:none !important;border:0 !important;padding-top:1em;}
.wcppec-checkout-buttons__button img{margin:0 auto;}
.paypal-button-widget .paypal-button,
.paypal-button-widget .paypal-button:hover{background:transparent;box-shadow:none;border:none;}
.wcppec-cart-widget-button{display:inline-block;text-decoration:none !important;border:0 !important;}
.woocommerce .address .edit:after {margin-top: 1px;}
.woocommerce-MyAccount-navigation ul li.is-active a:after, .woocommerce-side-nav li.is-active a:after {margin-top: 1px;}
/*.fusion-image-wrapper .fusion-rollover .fusion-rollover-content a{color: #025797 !important; font-size:18px;}
.fusion-image-wrapper .fusion-rollover .fusion-rollover-content .fusion-rollover-categories a{color: #fff !important;}*/
.page-id-10729 .fusion-rollover-categories a{color: #025797 !important;}
.page-id-10729 .woocommerce-Price-amount{font-size:12px !important;}
.page-id-10729 .fusion-product-buttons{color: #025797 !important;}
.page-id-10729 .show_details_button{color: #fff !important;}
.page-id-10729 .button product_type_simple add_to_cart_button ajax_add_to_cart{color: #fff !important;}
.page-id-10729 .fusion-rollover-title a{color: #025797 !important; font-size:18px;}
.fusion-rollover-title a{color: #025797 !important; font-size:18px;}
h2.home a:hover {color: #025797 !important;}
div.so_accept a {color: #ff0000 !important; text-decoration: none !important; float: left; font-weight:normal !important;}
.page-id-10729 li#menu-item-10569 a {color: #333333; border-top: 0px;}
.woocommerce-pagination { font-size: 12px !important; }
@supports (-ms-ime-align:auto){.shop_table .product-name { width: 18%!important; } }
.wikki_order_total{ border:1px solid #eee; }
ul.fusion-megamenufusion-megamenu-border {background-color: #025797; width: 100%; display: -webkit-flex; display: -ms-flexbox; display: flex; zoom: 1;    border-bottom: 1px solid #dcd9d9; border-color: #dcdadb;}
.fusion-megamenu-submenu {border-right: 1px solid #dcdadb !important;}
ul.fusion-megamenu.fusion-megamenu-row-2.fusion-megamenu-row-columns-1 {width: 25%;}
ul.fusion-megamenu.fusion-megamenu-row-3.fusion-megamenu-row-columns-2 {width: 50%;}
ul.fusion-megamenu.fusion-megamenu-row-5.fusion-megamenu-row-columns-2 {width: 50%;}
ul.fusion-megamenu.fusion-megamenu-row-3.fusion-megamenu-row-columns-3 {width: 75%;}
ul.fusion-megamenu.fusion-megamenu-row-5.fusion-megamenu-row-columns-3 {width: 75%;}
ul.fusion-megamenu.fusion-megamenu-row-5.fusion-megamenu-row-columns-1 {width: 25%;}
/* Avada style previous code ends*/
/* Woocommerce PayPal Express Checkout Gateway CSS begin added by emm */
.wcppec-checkout-buttons {text-align: center;margin: 1em 0;overflow: hidden;}
.wcppec-checkout-buttons .woocommerce-error {text-align: left;}
.site-header .widget_shopping_cart p.buttons.wcppec-cart-widget-spb {padding: 0 1em 1em;}
.site-header .widget_shopping_cart .woocommerce-mini-cart__empty-message + p.buttons.wcppec-cart-widget-spb {display: none;}
.payment_method_ppec_paypal img {max-height: 68px !important;border-radius: 0;}
.wc-gateway-ppec-cancel {display: block;text-align: center;padding: 10px;}
#woo_pp_ec_button_checkout {display: none;}
#payment .place-order .button {display: block;}
/**
 * PayPal Payment buttons generated via the SDK need to be styled via CSS.
 * To be backwards compatible, these rules are inline with the widths used by PayPal JS.
 *
 * @see https://developer.paypal.com/docs/archive/checkout/how-to/customize-button/#size
 * @see https://developer.paypal.com/docs/checkout/integration-features/customize-button/#size
 */
.wc_ppec_small_payment_buttons {width: 150px;display: inline-block;}
.wc_ppec_medium_payment_buttons {width: 250px;display: inline-block;}
.wc_ppec_large_payment_buttons {width: 350px;display: inline-block;}
/* Woocommerce PayPal Express Checkout Gateway CSS end added by emm */

.woocommerce-invalid:after{content: '' !important;}


